{% extends "base.html" %}
{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">Home Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/data_prep">Stock Pairs</a>
        </li>        
        <li class="nav-item">
            <a class="nav-link active" href="/build_model">Building Model</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/back_test">Back Testing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/trade_analysis">Trading Analysis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/real_trade">Real Trading</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h2>Building Model for Pairs</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Symbol1</th>
                <th>Symbol2</th>
                <th>Date</th>
                <th>Close1</th>
                <th>Close2</th>
                <th>Residual</th>
                <th>Lower</th>
                <th>MA</th>
                <th>Upper</th>
            </tr>
            </thead>
            <tbody>
            {% for pair in pair_list %}
            <tr>
                <td> {{pair.Symbol1}}</td>
                <td> {{pair.Symbol2}}</td>
                <td> {{pair.Date}}</td>
                <td> {{pair.Close1}}</td>
                <td> {{pair.Close2}}</td>
                <td> {{pair.Residual}}</td>
                <td> {{pair.Lower}}</td>
                <td> {{pair.MA}}</td>
                <td> {{pair.Upper}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}